.player {
	padding: 6px 0px 0px 0px;
}
.padding5{
	padding: 3px 6px 3px 6px ;
	text-align: center;
}
.picked-ball span{
	padding-bottom: 2px;
	padding-left: 5px;
}
.picked-ball img{
	padding: 0px;
	
}
.pokeImage {
	box-shadow: 0px 0px 8px 4px rgba(255, 0, 0, 0.2);
	padding: 4px;
	text-align: center;
}
.hasPlayed{
box-shadow: 0px 0px 8px 4px rgba(0, 255, 0, 0.2);
}
p.username{
	margin: 8px 0px;
}
.ranking{
	font: bold 20px Georgia, serif;
	margin-left: 8px;
}
span.Pikachu.uk-label{
    background-color:#ffd900        ;
    opacity:1;
}

span.Charmander.uk-label{
    background-color:#f77919        ;
    opacity:1;
}

span.Squirtle.uk-label{
    background-color:#7fe5d7        ;
    opacity:1;
}

span.Jigglypuff.uk-label{
    background-color:#efa3cc        ;
    opacity:1;
}
span.Bullbasaur.uk-label{
    background-color:#47c656        ;
    opacity:1;
}

span.Meowth.uk-label{
    background-color:#c4ba86        ;
    opacity:1;
}
span.Eevee.uk-label{
    background-color:#c4833d;      ;
    opacity:1;
}
span.Zubat.uk-label{
    background-color:#323662        ;
    opacity:1;
}
span.Rattata.uk-label{
    background-color:#a962e8        ;
    opacity:1;
}