div > img {
	vertical-align: initial;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 16%;
}
.pokecard{
	margin: 4px 4px;
}

.selectedCard{
	border: 3px lightgrey solid;
}

.card{
	  border-radius: 6px;
	  background-color: white;
	  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .2);
     

}  
.card-top{
	background-color: lightgreen;
	border-radius: 6px 6px  0px 0px;
	font-size: 12px;
	font-weight: bold;
	color: black;
	height: 20px;
	text-align: center;

} 
.card-bottom{
	height: 80px;
		
}

.picked{
	
	color: black;
}