.home-bg{
background-image: url(../../assets/image/home-bg.png) ;
background-repeat: no-repeat;
background-size: 100% auto ;
}   
#pokemons div.available.selected:hover {
box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}
#pokemons div.available.selected {
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}
#pokemons div.available:hover{
box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}
#pokemons >div{
border-radius:7px ;
}
#pokemons div.unavailable {cursor: not-allowed;}

#pokemons div.Pikachu.unavailable{
background-color:#ffd900        ;
opacity: 0.4;
}

#pokemons div.Charmander.unavailable{
background-color:#f77919        ;
opacity: 0.4;
}

#pokemons div.Squirtle.unavailable{
background-color:#7fe5d7        ;
opacity: 0.4;
}

#pokemons div.Jigglypuff.unavailable{
background-color:#efa3cc        ;
opacity: 0.4;
}
#pokemons div.Bullbasaur.unavailable{
background-color:#47c656        ;
opacity: 0.4;
}

#pokemons div.Meowth.unavailable{
background-color:#c4ba86        ;
opacity: 0.4;
}
#pokemons div.Eevee.unavailable{
background-color:#47c656        ;
opacity: 0.4;
}
#pokemons div.Zubat.unavailable{
background-color:#323662        ;
opacity: 0.4;
}
#pokemons div.Rattata.unavailable{
background-color:#a962e8        ;
opacity: 0.4;
}
.red{
background-color: red;
}
span.uk-icon svg{
color:red;
}
svg{
color:red!important;
}
span.uk-icon svg path{
fill: green;
}
::placeholder {
color: #a0aec0;
    opacity: 1; /* Firefox */
}
.uk-tab > * > a{
/* pointer-events: none !important;
cursor: default !important; */ 
}
#connectedUsers span.Pikachu.uk-label{
background-color:#ffd900        ;
opacity:1;
}

#connectedUsers span.Charmander.uk-label{
background-color:#f77919        ;
opacity:1;
}

#connectedUsers span.Squirtle.uk-label{
background-color:#7fe5d7        ;
opacity:1;
}

#connectedUsers span.Jigglypuff.uk-label{
background-color:#efa3cc        ;
opacity:1;
}
#connectedUsers span.Bullbasaur.uk-label{
background-color:#47c656        ;
opacity:1;
}

#connectedUsers span.Meowth.uk-label{
background-color:#c4ba86        ;
opacity:1;
}
#connectedUsers span.Eevee.uk-label{
background-color:#c4833d;        
opacity:1;
}
#connectedUsers span.Zubat.uk-label{
background-color:#323662        ;
opacity:1;
}
#connectedUsers span.Rattata.uk-label{
background-color:#a962e8        ;
opacity:1;
}
#select_txt {
color :white;
font-size: 8px;
}
#wbul li a span.uk-badge{
min-width: 18px;
height: 18px;
font-size :0.65rem;
background: rgb(167, 167, 167);
}
#wbul li.uk-active a span.uk-badge{
background: #1e87f0;
}

#wbul li a{
font-size :0.65rem;   
}
 .uk-notification{
border-radius: 4px;
border-style: solid;
border-width: 0 0 0 4px;
}
.uk-notification-message-success {
border-color:#48c774 ;
}
.uk-notification-message-danger {
border-color:#f14668 ;
}
.uk-notification-message-warning {
border-color:#ffdd57 ;
}

.uk-notification-message{
font-size: .8rem;
color: darkgrey !important;
}
.gobadge{
    cursor: pointer;
    padding: 14px;
    border: 1px solid cadetblue;
}
.gobadge:hover{
   background-color: darkcyan;
}
#pokemons div.unavailable .gobadge {
    display: none;
}