<section class="hero home-bg is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="uk-flex uk-flex-center">
        <div class=" uk-card uk-card-default uk-card-body uk-width-1-2@m">

          <h2 class="has-text-centered"> Code de la partie :
            <button id="code" (click)='copierCode()' uk-tooltip="Copier le code" class="button is-active "
              (mouseout)="outFunc()">
              <span class="icon">
                <i class="fa fa-copy"></i>
              </span>
              <span>{{code}}</span>
            </button>
            <span id="select_txt">{{code}}</span>
          </h2>
          <p class="has-text-centered infos uk-text-muted uk-text-small">N'oubliez pas de partager le code à ceux qui
            veulent rejoindre la partie</p>

          <ul id="wbul" class="uk-tab uk-child-width-expand" uk-switcher>
            <li >
              <a class="disablea" href="">
                <span class="uk-badge">1</span> Choisir un pseudo</a>
            </li>
            <li><a class="disablea" href=""> <span class="uk-badge">2</span> Choisir un pokemon</a></li>
            <li><a class="disablea" href=""> <span class="uk-badge">3</span> Lancer la partie</a></li>
          </ul>

          <ul class="uk-switcher uk-margin">
            <li class=" box-h100 has-text-centered">
              <form [formGroup]="selectPseudoForm">
                <div class="field">
                  <label class="label">Entrez un pseudo</label>
                  <div class="field has-addons has-addons-centered ">

                    <div class="control has-icons-left has-icons-right">
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                      <input id ="usernameinput" class="input" [class.is-success]="!pseudo.invalid && pseudo.touched" maxlength="10" minlength="3"
                        [class.is-danger]="pseudo.invalid && pseudo.touched" type="text" formControlName="pseudo"
                        placeholder="E.g.: Sacha">
                    </div>
                    <div class="control">
                      <button class="button is-primary" (click)="sendPokemonAndUsernmaneChoice(null,pseudo.value)"
                        [attr.disabled]="pseudo.invalid? '': null">
                        <span uk-icon="icon: arrow-right"></span>
                      </button>

                    </div>
                  </div>
                  <div *ngIf="pseudo.invalid && pseudo.touched">
                    <p class="help is-danger" *ngIf="pseudo.errors?.required">Veuillez saisir un Pseudo</p>
                    <p class="help is-danger" *ngIf="pseudo.errors?.minlength">Votre Pseudo doit contenir au moins 3
                      lettres.</p>
                      <p class="help is-danger" *ngIf="pseudo.errors?.maxlength">Votre Pseudo doit contenir au plus 10
                        lettres.</p>
                  </div>
                  <p class="help is-danger" *ngIf="usernameUnavailable"> Pseudo indisponible! veuillez en selectionner un autre. </p>
                </div>


              </form>
            </li>
            <li class="box-h100  has-text-centered">

              <label class="label"> Selection un pokemon </label>
              <div id="pokemons" class=" uk-flex uk-margin-auto  uk-flex-between uk-text-center" uk-grid>
                <div class="uk-card uk-card-default uk-card-small uk-card-body  {{obj.name}} " style="min-height: 235px"
                  *ngFor="let obj of pokemonsList;let i = index" [class.available]="!obj.selected"
                  [class.unavailable]="obj.selected" (mouseout)="removeselectiontbtn(i)" (mouseover)="selectPokemon( $event, i ,obj.name)">
                  <div class="uk-text-center">
                    <img class="uk-border-circle" width="60" height="60"
                      src="../../assets/image/pokemon/{{obj.image}}.svg">
                    <p class="pokecarddetail">
                      <span class="uk-label uk-label-success">{{obj.name}}</span>
                    </p>

                    <p *ngIf="obj.master==='inconnu'; else elseBlock">
                      <small class="help">Ce pokemon est libre </small>

                    </p>
                    <ng-template #elseBlock>
                      <p> <small class="help"> Selectionner par {{obj.master}}</small></p>
                    </ng-template>

                    <span (click)="sendPokemonAndUsernmaneChoice(obj.name,null)" class="gobadge uk-badge is-hidden"> <span
                        >Sélectionner</span>
                    </span>
                  </div>
                </div>
              </div>
            </li>
            <li class="box-h100  has-text-centered">
              <label class="label"> Liste des joueurs connectés</label>
              <ul id="connectedUsers" class="uk-list uk-list-striped" *ngFor="let player of players">
                <li  *ngIf="(player.getPokemon() !== 'inconnu')&&(player.getPokemon() !== '')&&(player.isSet())">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto"> <img class="uk-align-center uk-align-middle@m  uk-border-circle"
                        [src]='getPokemonImage(player.getPokemon())' width="40" height="40"
                        alt="{{player.getPokemon()}}">
                    </div>
                    <div class="uk-width-expand uk-text-left "><span
                        class="uk-label uk-label-primary {{player.getPokemon()}}"> {{player.getUsername()}}</span></div>
                    <div *ngIf="player.getIsMainUser()"> <span uk-tooltip="Administrateur de la partie"
                       class="mastericon"> <img style="height: 35px;" src="../../assets/image/pokemon/045-crown.svg"></span></div>
                    <div *ngIf="player.getUsername()===currentPlayer.getUsername()"> <strong>Moi</strong> </div>
                  </div>
                </li>


              </ul>
              <div *ngIf="ismaster()">
                <div *ngIf="currentPlayer.getPokemon() === ''">
                  <p>
                    <small class="help uk-text-warning">
                      Veuillez sélectionner un Pseudo et un Pokemon puis partager le code la partie.
                    </small>
                    <button disabled class="button is-success uk-margin-small-top">
                      Lancer la partie
                    </button>
                  </p>
                </div>
                <div *ngIf="!(currentPlayer.getPokemon() === '')">
                  <div *ngIf="(players.length < 2)">
                    <p>
                      <small class="help uk-text-warning">
                        Veuillez partager le code la partie et attendre que de nouveaux joueurs se connectent.
                      </small>
                  
                        <button disabled class="button is-success uk-margin-small-top">
                          Lancer la partie
                        </button>
                      
                    </p>
                  </div>
                  <div *ngIf="!(players.length < 2)">
                    <p class="uk-margin-small-top">
                      <button uk-switcher-item="next" (click)="startParty()" class="button is-success">
                        Lancer la partie
                      </button>
                    </p>
                  </div>
                </div>

              </div>
              <div *ngIf="!ismaster()">
                <div *ngIf="currentPlayer.getPokemon() === ''">
                  <p>
                    <small class="help uk-text-warning">
                      Veuillez selectionner un Pseudo et un Pokemon
                    </small>
                  </p>
                </div>
                <div *ngIf="!(currentPlayer.getPokemon() === '')">
                  <p>
                    <small class="help uk-text-warning">
                      Veuillez attendre que l'administrateur lance la partie
                    </small>
                  </p>
                </div>
              </div>



            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>