<section class="hero home-bg is-fullheight-with-navbar">
	<div id="players_nav">

		<div id="sub_nav" class="shown borderRed bgr1  uk-text-center" uk-grid>
			<app-player *ngFor="let player of players" [class.uk-hidden]="isCurrent(player)"
				[isCurrent]="isCurrent(player)" [player]="player"></app-player>
		</div>
		<div id="players_nav_toggle"><span id="myarrow" uk-icon="icon:  chevron-up"></span></div>
	</div>

	<div id="card-board" uk-grid>

		<div class="uk-width-expand">

		</div>
		<div class=" ">
			<div class="row uk-flex" *ngFor="let row of board.table">
				<app-card *ngFor="let card of row" [color]="card.color" [number]="card.number" isBoard="true">
				</app-card>
			</div>
		</div>
		<div class="uk-width-expand">

		</div>

	</div>


	<div id="mygame">
		<div uk-grid>
			<div>
				<app-player [player]="currentPlayer"></app-player>
			</div>
			<div>
				<app-my-hand [hasPlayed]="currentPlayer.getHasPlayed()" [username]="currentPlayer.getUsername() "
					[myHand]="currentPlayer.getHand()"></app-my-hand>
			</div>
		</div>
		<app-chat></app-chat>
	</div>
	<div id="gameresult" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Partie terminée</p>
				<button class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Rang</th>
							<th>pseudo</th>
							<th>pokemon</th>
							<th>Balles</th>
						</tr>
					</thead>
					<tr *ngFor="let player of players">

						<td *ngIf="player.getRank() > 3; else elseblock" class="rankIcon">
							<span>{{player.getRank()}}</span>
						</td>
						<ng-template #elseblock>
							<td class="rankIcon">
								<img  src ="{{player.getRankVisual()}}">
							</td>
						</ng-template>
						<td>
							{{player.getUsername()}}
						</td>
						<td class="pokemonIcon">
							{{player.getPokemon()}}
						</td>
						<td class="pickedballs">
							{{player.getPickedBalls()}}
						</td>

					</tr>
				</table>
			</section>
			<footer class="modal-card-foot">
				<button id="btn-to-home" class="button is-success">revenir à l'accueil</button>
				<button id="btn-replay" class="button">Rejouer cette partie</button>
			</footer>
		</div>
	</div>

</section>