.home-bg{
    background-image: url(../../assets/image/home-bg.png) ;
    background-repeat: no-repeat;
    background-size: 100% auto ;
    }
.box-h100 {
    height: 100px;
}

.uk-tab > .uk-active > a{
    border-color: rgb(160,56,146);
}
#rpm{
   
    margin: 0 auto;
}
::placeholder {
    color: #a0aec0;
      opacity: 1; /* Firefox */
}

#6cards .uk-notification{
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 0 4px;
    }
    #6cards .uk-notification-message-success {
    border-color:#48c774 ;
    }
    #6cards .uk-notification-message-danger {
    border-color:#f14668 ;
    }
    #6cards .uk-notification-message-warning {
    border-color:#ffdd57 ;
    }
    
    #6cards .uk-notification-message{
    font-size: .8rem;
    color: darkgrey !important;
    }